// colors
$primary: #363636;
$accent: #fe7d3c;
$textOnPrimary: #ffffff;
$textOnAccent: #ffffff;
$darkGrey: #777;
$grey: #999;
$lightGrey: #ddd;

// sizes
$topbarHeight: 30px;
$navBarHeight: 70px;
$defaultPadding: 15px;
$borderRadius: 8px;

// fonts
$fontWeightLight: 300;
$fontWeightRegular: 400;
$fontWeightMedium: 500;
$fontWeightBold: 700;