// colors
$primary: #363636;
$accent: #159d57;
$textOnPrimary: #ffffff;
$textOnAccent: #ffffff;

// sizes
$topbarHeight: 30px;
$defaultPadding: 15px;
$borderRadius: 8px;

// fonts
$fontWeightLight: 300;
$fontWeightRegular: 400;
$fontWeightBold: 700;