@import './_variables.scss';
@import './mixins/_responsive.scss';
@import './mixins/_socials.scss';
@import './mixins/_transition.scss';
@import './mixins/_fa_icon.scss';
@import './mixins/_transform.scss';
@import './mixins/_ellipsis-multiline.scss';
@import './partials/_grid.scss';
@import './partials/_header.scss';
@import './partials/_footer.scss';
@import './partials/_post-preview.scss';
@import './partials/_article.scss';
@import './partials/_seminary.scss';
@import './partials/_tables.scss';
@import './partials/_page-navigation.scss';

@import './pages/_homepage.scss';
@import './pages/_teachers.scss';
@import './pages/_bulletin-board.scss';
@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700&display=swap');

body {
    font-family: 'Montserrat', sans-serif;

    font-weight: $fontWeightLight;
    font-size: 14px;
    line-height: 1.6;

    padding: 0 !important;
    margin: 0 !important;

    ul.socials {
        @include socials($topbarHeight);
    }

    b,
    strong {
        font-weight: $fontWeightMedium;
    }

    a {
        font-weight: $fontWeightMedium;
        color: $accent;
        text-decoration: none;
        @include _transition(color 0.2s);

        &:active,
        &:focus,
        &:visited {
            text-decoration: none;
            color: $accent;
            outline: none;
        }

        &:hover {
            color: darken($accent, 20);
        }
    }

    div#page {
        display: grid;
        grid-template-columns: auto;
        grid-template-areas:
            "header"
            "main"
            "footer";
        grid-template-rows: auto 1fr auto;
        height: 100vh;
    }

    #header {
        grid-area: header;
    }

    #content {
        grid-area: main;

        @include respond-to(xs) {
            padding-top: 60px;
        }

        @include respond-to(from-sm) {
            padding-top: #{$navBarHeight + 30px};
        }
    }

    #footer {
        grid-area: footer;
    }

    .container {
        width: 100%;
        padding-right: 10px;
        padding-left: 10px;
        margin-right: auto;
        margin-left: auto;

        @include respond-to(from-sm) {
            max-width: 720px;
        }

        @include respond-to(from-md) {
            max-width: 920px;
        }

        @include respond-to(from-lg) {
            max-width: 1000px;
        }
    }

    ul {
        margin: 0 0 0 10px;
        padding: 0 0 0 10px;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        >a {
            font-weight: $fontWeightBold;
        }
    }

    h1,
    .h1,
    h2,
    .h2,
    h3,
    .h3,
    h4,
    .h4,
    h5,
    .h5,
    h6,
    .h6 {
        line-height: 1.4;
        font-weight: $fontWeightBold;
    }

    h1,
    .h1 {
        font-size: 28px;
        margin-bottom: 10px;

        @include respond-to(upto-sm) {
            font-size: 24px;
        }
    }

    h2,
    .h2 {
        font-size: 24px;
        margin-bottom: 10px;

        @include respond-to(upto-sm) {
            font-size: 22px;
        }
    }
    
    h3,
    .h3 {
        font-size: 20px;
        margin-bottom: 15px;

        @include respond-to(upto-sm) {
            font-size: 18px;
        }
    }

    h4,
    .h4,
    h5,
    .h5,
    h6,
    .h6 {
        font-size: 18px;

        @include respond-to(upto-sm) {
            font-size: 16px;
        }
    }


    div.post-info {
        color: $grey;
        font-size: 12px;
        >span {
            &.date {}

            &.author {}

            &.expiry {

            }
        }
    }

    iframe {
        max-width: 100%;
        margin: 20px auto;
        display: block;
    }

    .widget {
        margin: 0;
    }

    a.read-more {
        display: block;
        font-size: 12px;
    }

    .entry-content {
        word-break: break-word;
    }
}