div.article {
    background: #fff;
    border-bottom: 1px solid $lightGrey;
    padding-top: 30px;
    padding-bottom: 30px;

    &::first-child {
        padding-top: 0;
    }

    >.title {
        margin-top: 0;
        margin-bottom: 5px;
        a {
            color: $primary;
            font-weight: $fontWeightBold;
            &:hover {
                color: $accent;
            }
        }
    }

    >.tags {
        margin-top: 5px;
        font-size: 11px;
        a {
            font-weight: $fontWeightMedium;
        }
    }

    >.content {
        font-size: 14px;
        word-break: break-word;

        h3 {
            font-size: 18px;
        }

        *:last-child {
            margin-bottom: 0;
        }
    }
}