div.article {
    background: #fff;
    border-bottom: 1px solid $lightGrey;
    padding-top: 30px;
    padding-bottom: 30px;

    &:first-child {
        padding-top: 0;
    }

    >.title {
        margin-top: 0;
        margin-bottom: 5px;
        font-size: 20px;
        a {
            color: $primary;
            font-weight: $fontWeightBold;
            &:hover {
                color: $accent;
            }
        }
    }

    >.tags {
        margin-top: 5px;
        font-size: 11px;
        a {
            font-weight: $fontWeightMedium;
        }
    }

    >.content {
        font-size: 14px;
        @include respond-to(xs) {
            font-size: 13px;
        }

        word-break: break-word;

        h2, h3, h4, h5, h6 {
            font-weight: $fontWeightMedium !important;
        }

        h2 {
            font-size: 20px;
        }
        h3 {
            font-size: 18px;
        }
        ul, ol {
            padding: 0 0 0 10px;
            margin: 0 0 0 10px;
            list-style: inherit;
        }

        *:last-child {
            margin-bottom: 0;
        }
    }
}