div.card {
    padding: 10px;
    border-radius: $borderRadius;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.25);
    background: #fff;
    &:not(:last-child) {
        margin-bottom: 20px;
    }

    >.title {
        font-size: 18px;
        margin-top: 0;
        margin-bottom: 10px;
        a {
            color: $primary;
            font-weight: $fontWeightBold;
            &:hover {
                color: $accent;
            }
        }
    }

    >.info {
        color: $grey;
        font-size: 12px;
        >span {
            &.date {}

            &.author {}
        }
    }

    >.content {
        font-size: 15px;
        word-break: break-word;
    }
}