@font-face {
    font-family: 'Helvetica Neue Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Helvetica Neue Italic'), url('../../fonts/helvetica-neue/HelveticaNeueItalic.woff') format('woff');
}

@font-face {
    font-family: 'Helvetica Neue Light';
    font-style: normal;
    font-weight: normal;
    src: local('Helvetica Neue Light'), url('../../fonts/helvetica-neue/HelveticaNeueLight.woff') format('woff');
}

@font-face {
    font-family: 'Helvetica Neue Light Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Helvetica Neue Light Italic'), url('../../fonts/helvetica-neue/HelveticaNeueLightItalic.woff') format('woff');
}

@font-face {
    font-family: 'Helvetica Neue Medium';
    font-style: normal;
    font-weight: normal;
    src: local('Helvetica Neue Medium'), url('../../fonts/helvetica-neue/HelveticaNeueMedium.woff') format('woff');
}


@font-face {
    font-family: 'Helvetica Neue Bold';
    font-style: normal;
    font-weight: normal;
    src: local('Helvetica Neue Bold'), url('../../fonts/helvetica-neue/HelveticaNeueBold.woff') format('woff');
}


@font-face {
    font-family: 'Helvetica Neue Condensed Bold';
    font-style: normal;
    font-weight: normal;
    src: local('Helvetica Neue Condensed Bold'), url('../../fonts/helvetica-neue/HelveticaNeueCondensedBold.woff') format('woff');
}


@font-face {
    font-family: 'Helvetica Neue Bold Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Helvetica Neue Bold Italic'), url('../../fonts/helvetica-neue/HelveticaNeueBoldItalic.woff') format('woff');
}



@font-face {
    font-family: 'Helvetica Neue Condensed Black';
    font-style: normal;
    font-weight: normal;
    src: local('Helvetica Neue Condensed Black'), url('../../fonts/helvetica-neue/HelveticaNeueCondensedBlack.woff') format('woff');
}