footer#footer {
    background: $primary;
    color: $textOnPrimary;
    margin-top: 60px;

    > div.copyright {
        text-align: center;
        padding: 20px 0;
        p {
            font-size: 12px;
            margin: 0;
        }
    }

}