header#header {
    >div.topbar {
        height: $topbarHeight;
        background: darken($primary, 8%);
        position: fixed;
        top: 0;
        width: 100%;

        @include respond-to(xs) {
            display: none;
        }
    }

    >div.logo-menu-wrapper {
        display: grid;
        align-items: center;
        background: #fff;


        @include respond-to(xs) {
            padding: 0 10px 0 5px;
            grid-template-columns: 80px calc(100% - 80px);

            top: 0;
            height: 60px;

            >div.menu {
                display: none;
            }

            >div.menu-toggler {
                justify-self: end;
                cursor: pointer;

                i {
                    color: $primary;
                    font-size: 15px;
                }
            }
        }

        @include respond-to(from-sm) {
            padding: 0 10px;
            grid-template-columns: 100px calc(100% - 100px);

            >div.menu {
                grid-row: 1;
                justify-self: end;
            }

            >div.logo {
                grid-row: 1;
            }

            >div.menu-toggler {
                display: none;
            }
        }

        >div.logo {
            img {
                position: relative;
                top: 3px;
            }
        }

        >div.menu {
            height: $navBarHeight;

            >ul {
                padding: 0;
                margin: 0;
                list-style: none;
                height: $navBarHeight;

                li {
                    display: inline-block;
                    position: relative;

                    &.menu-item-has-children {
                        &::after {
                            cursor: pointer;
                            @include fa_icon('\f107');
                            position: absolute;
                            top: 27px;
                            right: 5px;
                            color: $primary;
                            font-size: 11px;
                        }

                        a {
                            padding-right: 15px;
                        }

                        +li {
                            &:not(.menu-item-has-children) {
                                a {
                                    padding-right: 5px;
                                }
                            }
                        }

                        &.hover {
                            background: #f5f5f5;

                            >a {
                                border-bottom: 1px solid $lightGrey;
                            }
                        }
                    }

                    a {
                        display: block;
                        height: $navBarHeight;
                        line-height: $navBarHeight;
                        padding: 0 10px;
                        color: $primary;
                        font-size: 13px;
                        font-weight: $fontWeightMedium;

                        &:hover {
                            text-decoration: none;
                        }

                        &:not([href="#"]) {
                            &:hover {
                                color: $accent;
                            }
                        }
                    }


                    &.current-menu-item {
                        >a {
                            color: $accent;
                        }
                    }

                    ul.sub-menu {
                        display: none;
                        list-style: none;
                        position: absolute;
                        z-index: 1;
                        left: -50px;
                        width: 200px;
                        margin: 0;
                        padding: 0;
                        top: 80px;
                        border-radius: $borderRadius;
                        background: #fff;
                        box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.30);

                        li {
                            overflow: hidden;

                            &:first-child {
                                border-top-left-radius: $borderRadius;
                                border-top-right-radius: $borderRadius;
                            }

                            &:last-child {
                                border-bottom-left-radius: $borderRadius;
                                border-bottom-right-radius: $borderRadius;
                            }

                            &.menu-item-has-children {
                                &::after {
                                    top: 11px;
                                    right: 10px;
                                }
                            }

                            display: block;
                            position: relative;

                            a {
                                display: block;
                                padding: 10px;
                                height: auto;
                                line-height: inherit;
                                font-size: 13px;

                                &:hover {
                                    text-decoration: none;
                                    background-color: #f5f5f5;
                                }
                            }

                            // all sub sub menus
                            ul.sub-menu {
                                position: relative;
                                top: 0;
                                left: 0;
                                border-top: 1px solid #ddd;
                                border-bottom: 1px solid #ddd;
                                background-color: #eee;
                                padding-left: 10px;
                                border-radius: 0;
                                box-shadow: none;

                                li {
                                    a {
                                        font-size: 12px;
                                        padding: 10px 10px 10px 15px;

                                        &:hover {
                                            background-color: inherit;
                                        }
                                    }
                                }
                            }
                        }
                    }

                    // &:hover {
                    //     >ul.sub-menu {
                    //         visibility: visible;
                    //         height: auto;
                    //         transition-delay: 0s;
                    //     }
                    // }
                }
            }
        }

        position: fixed;
        top: 30px;
        left: 0;
        height: $navBarHeight;
        width: 100%;
        z-index: 10;
        border-bottom: 1px solid #ddd;
        @include _transition(all 0.3s);

        &.scrolling {
            @include respond-to(from-sm) {
                background: #fff;
                top: 0;
                box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.15);
                border-bottom: 1px solid transparent;
            }
        }
    }

    >img.main-logo {
        @include respond-to(xs) {
            display: none;
        }

        display: block;
        max-width: 540px;
        margin: #{$navBarHeight + $topbarHeight + 20px} auto 0;
    }

    >div.sidebar {
        height: 100%;
        width: 100%;
        position: fixed;
        z-index: 20;
        top: 0;
        right: -100%;
        background-color: #fff;
        overflow-x: hidden;
        @include _transition(right 0.4s);

        >h1 {
            margin: 0;
            font-size: 15px;
            text-transform: uppercase;
            margin-left: 10px;
            height: 60px;
            line-height: 60px;
        }

        &.open {
            right: 0;

            >div.topbar {
                right: 0;
            }
        }

        >div.menu-toggler {
            position: absolute;
            top: 20px;
            right: 10px;
            cursor: pointer;

            >i {
                font-size: 15px;
                color: $primary;
            }
        }

        >div.menu {
            top: 59px; // 1px border
            width: 100%;
            overflow: scroll;
            border-top: 1px solid $lightGrey;

            >ul {
                padding: 0;
                margin: 0;
                list-style: none;

                >li {
                    &:hover {
                        >a {
                            text-decoration: none !important;
                            background-color: #f5f5f5;
                        }
                    }
                }

                li {
                    position: relative;

                    a {
                        display: block;
                        padding: 10px;
                        color: $primary;
                        font-size: 13px;
                        font-weight: $fontWeightRegular;
                    }

                    &.menu-item-has-children {
                        &::after {
                            @include fa_icon('\f107');
                            position: absolute;
                            top: 10px;
                            right: 10px;
                            color: $primary;
                        }
                    }

                    &.current-menu-item {
                        >a {
                            color: $accent;
                        }
                    }

                    ul.sub-menu {
                        list-style: none;
                        display: none;
                        margin: 0;
                        padding: 0 0 0 15px;

                        li {
                            position: relative;

                            a {
                                font-size: 12px;
                            }
                        }
                    }
                }
            }
        }

        >div.topbar {
            @include _transition(right 0.4s);
            height: $topbarHeight;
            background: $accent;
            position: fixed;
            bottom: 0;
            right: -100%;
            width: 100%;
        }

    }

    &.dark {
        >div.logo-menu-wrapper {
            background: $primary;
            border-color: $darkGrey;

            >div.menu {
                >ul {
                    li {
                        &.menu-item-has-children {
                            &::after {
                                color: $textOnPrimary;
                            }

                            &.hover {
                                background: darken($primary, 8%);

                                >a {
                                    border-color: $darkGrey;
                                }
                            }
                        }

                        a {
                            color: $textOnPrimary;
                        }

                        ul.sub-menu {
                            background: $primary;

                            li {
                                a {
                                    &:hover {
                                        background: darken($primary, 8%);
                                    }
                                }

                                // all sub sub menus
                                ul.sub-menu {
                                    border-color: $darkGrey;
                                    background: darken($primary, 10%);
                                }
                            }
                        }
                    }
                }
            }


            &.scrolling {
                @include respond-to(from-sm) {
                    background: $primary;
                }
            }
        }
    }
}

main {
    header {
        @include _transition(all 0.3s);

        &.scrolling {
            position: fixed;
            width: 100%;
            background: #fff;
            top: 0;
            left: 70px; // depends on logo
            height: $navBarHeight;
            z-index: 12;

            h1 {
                font-size: 18px;
                margin: 13px 0 0 0;
                border: none;
                padding: 0;
            }

            @include respond-to(xs) {
                height: 59px; // 1px border
                left: 53px; // depends on logo
                width: calc(100% - 77px);

                h1 {
                    width: 80%;
                    font-size: 15px;
                    margin-top: 12px;
                    word-break: break-all;

                    @include _ellipsis-multiline(1, 20px) a.rss-link {
                        i {
                            font-size: 12px;
                        }
                    }
                }

                span.blog-name {
                    font-size: 8px;
                }
            }
        }

        h1 {
            margin-top: 30px;
            padding-bottom: 20px;
            margin-bottom: 20px;
            border-bottom: 1px solid $lightGrey;

            a.rss-link {
                i {
                    font-size: 16px;
                    position: relative;
                    top: -1px;
                }
            }
        }

        span.blog-name {
            text-transform: uppercase;
            color: $darkGrey;
            font-size: 10px;
            font-weight: $fontWeightRegular;
            display: none;

            &.visible {
                display: block;
            }
        }
    }
}