table {
    table-layout: fixed;
    width: 100%;

    th, td {
        overflow: hidden;
    }

    thead {
        tr {
            th {
                border-bottom: 1px solid $lightGrey;
                font-weight: $fontWeightBold;
                color: $grey;
                text-align: left;
                font-size: 14px;
                padding: 15px;
                text-transform: uppercase;

                // ::first-line {
                //     font-size: 10px;
                // }
            }
        }
    }

    tbody {
        tr {
            &:nth-child(odd) {
                background: #f5f5f5;
            }

            th {
                font-size: 13px;
                padding: 15px;
            }
            td {
                font-size: 13px;
                padding: 15px;

                h1, h2, h3, h4, h5, h6 {
                    font-size: 16px;
                }
            }
        }
    }

    // Maintain old styles
    &.tab-list {
        border-collapse: collapse;
        border-spacing: 0;
    
        tbody {
            tr {
                background: inherit;
                td {
                    padding: 8px 0;
                }
            }
        }
    }
}

// page Laboratorio Informatico
.rules {
    table {
        tbody {
            tr {
                td {
                    padding: 15px;
                    background: #f5f5f5;
                    border-radius: $borderRadius;
                    font-size: 13px;
                }
            }
        }
    }
}