#homepage {
    div.cover-image {
        width: 100%;
        height: 400px;
        background: $accent;
        margin-top: 0;
        padding: 40px 0 0 0;
        color: $textOnAccent;
        text-align: right;

        >div.container {
            * {
                margin: 0;
            }

            h3 {
                text-transform: uppercase;
                font-size: 26px;
                line-height: 26px;
                margin-bottom: 30px;
            }

            div {
                &.intro {
                    text-transform: uppercase;

                    p {
                        font-size: 20px;
                        line-height: 20px;
                        letter-spacing: 1px;
                        margin-bottom: 5px;
                        font-weight: $fontWeightRegular;
                    }

                    h1 {
                        line-height: 65px;
                        font-size: 60px;
                    }
                }

                &.extra {
                    font-weight: $fontWeightRegular;
                    margin-top: 40px;
                    a {
                        display: block;
                        margin-top: 20px;
                        font-weight: $fontWeightBold;
                        color: $textOnAccent;
                        font-size: 18px;
                        &:hover {
                            text-decoration: underline;
                        }
                    }
                }
            }
            position: relative;

            >div.robot {
                position: absolute;
                bottom: 0;
                >img {
                    width: 200px;
                }
            }
        }

        @include respond-to(xs) {
            height: 250px;
            padding-top: 30px;
            margin-top: 0;

            >div.container {
                h3 {
                    font-size: 18px;
                    line-height: 18px;
                }

                div {
                    &.intro {
                        p {
                            font-size: 16px;
                            line-height: 16px;
                            letter-spacing: normal;
                        }

                        h1 {
                            line-height: 40px;
                            font-size: 35px;
                        }
                    }

                    &.extra {
                        margin-top: 25px;
                        p {
                            display: none;
                        }
                        a {
                            font-size: 14px;
                        }
                    }
                }
                >div.robot {
                    left: 0;
                    bottom: -10px;
                    >img {
                        width: 110px;
                    }
                }
            }
        }

    }

    ul.latests-posts {
        list-style: none;
        padding: 0;
        margin: 0;
    }
}