.teachers {
    .row {
        .col {
            h3 {
                font-size: 16px;
                height: 25px;
                margin-bottom: 10px;
                display: block;
            }
            img {
                border-radius: $borderRadius;
            }
            p {
                
            }
        }
    }
}